

center { 
   display: block;
   width: auto;
   margin-left: auto;
   margin-right: auto;
}

  a:hover {
   color: #1B4332;
}

.bandCA { 
   display: block;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   background-color: #f4a261;
}

.bandCO { 
   display: block;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   background-color: #cbc0d3;
}

.bandWY { 
   display: block;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   background-color: #f4978e;
}

.bandAL { 
   display: block;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   background-color: #cddafd;
}

   p, a {
		font-family:'Amatic SC', san-serif;
      font-size:24px; 
}

li { 
   display: inline-block;
   list-style: none;
   float: left;
   padding: 10px;
   margin-left: 100px;
   font-family:'Amatic SC', san-serif;
   font-size:100px; 
}
.text-align {
    display: block;
   width: 10%;
   margin-left: auto;
   margin-right: auto;
}

h1, h2, h3 {
   font-family:'Amatic SC', san-serif;
      font-size:45px;
   text-align:center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;

	/*B1C9EE
	B1C9EE - Light Steel Blue
	1B4332 - Brunswick Green
	8B8C89 - Battleship Grey

